@model TrashCollector.Models.CustomerAddressViewModel

@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
    <hr/>    
    <div class="form-horizontal">
        <h4>Customer</h4>
        <div class="form-group">
            @Html.LabelFor(model => model.Customer.FirstName)
            @Html.TextBoxFor(model => model.Customer.FirstName, new { @class = "form-control" })

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Customer.LastName)
            @Html.TextBoxFor(model => model.Customer.LastName, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address.StreetNumber)
            @Html.TextBoxFor(model => model.Address.StreetNumber, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Address.StreetName)
            @Html.TextBoxFor(model => model.Address.StreetName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Address.City)
            @Html.TextBoxFor(model => model.Address.City, new { @class = "form-control" })

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Address.State)
            @Html.TextBoxFor(model => model.Address.State, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Address.Zip)
            @Html.TextBoxFor(model => model.Address.Zip, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Pickup.PickupDate)
            @Html.TextBoxFor(model => model.Pickup.PickupDate, "{0: d MM yyyy}", new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Customer.Budget)
            @Html.TextBoxFor(model => model.Customer.Budget, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Customer.Budget, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
    }

</body>
@Html.HiddenFor(m =>m.Customer.Id);
</html>
