@model TrashCollector.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h2>Details</h2>


<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.StreetNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.StreetNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.StreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.StreetName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Zip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PickupDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupDay)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.SuspendStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuspendStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuspendEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuspendEndDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Update Pickup", "UpdatePickup", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Suspend Service", "SuspendService", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("View Balance", "Balance", new { id = Model.Id }, new { @class = "btn btn-primary" })

</p>
