@model TrashCollector.Models.CustomerAddressViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.StreetNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.StreetNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.StreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.StreetName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Zip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.PickUpDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.PickUpDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.SuspendStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.SuspendStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.SuspendEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.SuspendEndDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Change Pick Up Day", "UpdatePickup", new { id = Model.Customer.Id })
    @Html.ActionLink("Request Extra Pick Up", "UpdatePickup")
</p>
