@model TrashCollector.Models.CustomerAddressViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Customer.FirstName HomePage</title>
</head>
<body>
    <div>
        <h4>Hello @Model.Customer.FirstName @Model.Customer.LastName</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Address.StreetName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Address.StreetName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Customer.PickUpDay)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Customer.PickUpDay)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Customer.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Customer.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Customer.LastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Customer.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.Balance)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Customer.Balance)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Customer.Budget)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Customer.Budget)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Customer.SuspendStartDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Customer.SuspendStartDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Customer.SuspendEndDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Customer.SuspendEndDate)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
