@model TrashCollector.Models.CustomerAddressViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h2>Schdeule</h2>

<div>
    <h4>@Model.Customer.FirstName</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Pickup.PickupDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pickup.PickupDay)
        </dd>
        <dt>
            Second Pick-Up
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pickup.SecondPickupDate)
            @Html.DisplayFor(model => model.Pickup.SecondPickupDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.SuspendStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.SuspendStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.SuspendEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.SuspendEndDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Update Pickup", "UpdatePickup", new { id = Model.Customer.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back", "Details", new { id = Model.Customer.Id }, new { @class = "btn btn-primary" })
    @Html.HiddenFor(model => model.Customer.Id)
</p>
